<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Easy auth - Get Profile from API server</title>
</head>
<style>
  .resources {
    background-color: lightgray;
  }
</style>

<body>

  <h1>Easy auth - Get Profile from API server - 1</h1>

  <p><a href="/get-profile">Get user's profile</a> from server API</p>
  <br><br><br><br>
  <div class="resources">
    <details>
    <summary>Additional resources - Easy auth</summary>
    <ul>
      <li><a href="/.auth/login">Log in (/.auth/login)</a>
      <li><a href="/.auth/logout">Log out (/.auth/logout)</a>
      <li><a href="/.auth/refresh">Refresh token (/.auth/refresh)</a>
      <li><a href="/debug">Debug (/debug)</a>
      <li><a href="https://developer.microsoft.com/en-us/graph/graph-explorer">Microsoft Graph Explorer</a>
      <li><a href="https://jwt.ms/">JWT.ms - decode access token</a>
    </ul>
    </p>
  </details>
  </div>
</body>

</html>